<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <script src='//static.opentok.com/v2/js/opentok.min.js'></script>
    <script defer src='js/main.js'></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
