<h1>apiKey</h1>
<p id="apiKey">{{apiKey}}</p>

<h1>sessionId</h1>
<p id="sessionId">{{sessionId}}</p>

<h1>token</h1>
<p id="token">{{token}}</p>

<div id="videosWrapper">
  <div id="videoOther"></div>
  <div id="videoMine"></div>
</div>
